 .header {
    /* display: flex; */
     color: black;
     align-items: center;
     background-color: rgb(245, 233, 214);
     height: 150px;
 }

 .nav-item {
     color: black;
 }

 h1 {
     text-align: center;
     margin-left: 20px;
 }

 .myname {
    display: flex;
 }
 .col-8 {
    display: flex;
    justify-content: flex-end;
 }