.row-formContainer {
    display: flex;
    height: 650px;
    margin-top: 20px;
    
}

.left-box {
    align-items: center;
    max-width: 33%;
    height: 60px;
    margin-left: 70px;
}

.right-box {
    margin-top:200px;
    justify-content: center;
    align-items:center;
    
}

.form-label {
    margin: 10px;
}

.comments {
    display: flex;
    overflow: hidden;
    height: 150px;
}

.btn-primary {
    margin-top: 50px;
}