.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

.linkedIn {
    max-width: 45px;
    margin: 5px;
}

.github {
    max-width: 45px;
}

@media screen and (max-width: 415px) {
    .footer {
        height: 70px;
        display: flex;
        justify-content: center;
    }
}
/* @media screen and (max-width: 390px) {
    .footer {
        height: 70px;
        display: flex;
        justify-content: center;
    }
} */

/* @media screen and (max-width: 375px) {
    .footer {
        height: 70px;
        display: flex;
        justify-content: center;
    }
} */