 .title {
     text-align: center;
     height: 65px;
     margin-top: 50px;
     margin-bottom: 20px;
 }

 .about-me {
     border-left: 1px solid;
     border-top-color: black;
 }

 .about {
     height: 665px;
     width: 70%;
     margin-right: auto;
     margin-left: auto;
     overflow: scroll;
 }

 .responsive {
     display: flex;
     max-width: 50%;
     max-height: 50%;
     margin-right: auto;
     margin-left: auto;
     margin-top: -20px;
     
 }
 .me {
    border-radius:50%;
 }

 /* .story {
     margin-right: 60px;
     margin-left: 15px;
    
 } */

 @media screen and (max-width: 990px) {
    
     .about-me {
         padding-top: 30px;
         
        }

     .title {
         text-align: center;
         height: 35px;
         margin-bottom: 20px;
     }

     .about {
         height: 670px;
         width: 80%;
         margin-right: auto;
         margin-left: auto;
         overflow: scroll;
     }

     .responsive {
         display: flex;
         max-width: 80%;
         max-height: 80%;
         margin-right: auto;
         margin-left: auto;
         align-items: center;

     }

     .worker {
         height: 150px;
         display: flex;
         align-items: center;
     }
     /* .story {
      
        margin-left: 2px;
        margin-right: 2px;
        
    } */
    @media screen and (max-width: 415px) {
        .about {
            height: 690px;
            width: 80%;
            margin-right: auto;
            margin-left: auto;
            overflow: scroll;
        }
      
        .story { 
            margin-left: 2px;
            margin-right: 2px;          
        }
    }
    @media screen and (max-width: 390px) {
        .about {
            height: 666px;
            width: 95%;
            padding-right: 2px;
            padding-left: 2px;
            margin-right: auto;
            margin-left: auto;
            overflow: scroll;
        }
    }
    @media screen and (max-width: 375px) {
        .about {
            height: 670px;
            width: 80%;
            margin-right: auto;
            margin-left: auto;
            overflow: scroll;
        }
        #animation {
            width: 100vw;
            height: 100vh;
            padding:0;
            margin:0;
            overflow:hidden; 
        }
        body{
            margin:0;
          }
    }
 };