.row-formContainer {
    display: flex;
    border-color: black;
    justify-content: space-around;
    height: 650px;
    align-items: center;
    margin-top: 12%;
}

.left-box {

    /* border-color: black; */
    /* border: solid; */
    /* background-color: rgb(186, 162, 77); */
    /* align-items: center; */
    /* margin-left: 60px; */
    max-width: 33%;
    /* height: 70%; */
    /* justify-content: center; */
}

/* .right-box {
    justify-content: center;
}
*/
.form-label {
    margin: 10px;
}

/* .comment {
    overflow: hidden;
    flex-wrap: wrap; 
} */

.btn-primary {
    margin-top: 50px;
}