.my-projects {
    text-align: center;
    margin: 40px;
}
.container { 
    background-color: bisque;
}

#text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
}

.display {
    max-width: 70%;
    background-color: coral;
}
.card:hover #text {
    opacity: 1;
    padding: 8px;
}

.card:hover img {
    opacity: 0.1;
    padding: 8px;
}

.card-img:hover {
    background-color: yellow;
}

.image {

    object-fit: cover;
    height: 200px;
    border: solid;
    border-color: black;
    margin: 12px;
}

#logo {
    float: left;
}