.my-projects {
    text-align: center;
    margin-top: 50px;
    margin-bottom:30px;
}
.container { 
    height: 550px;
    max-width: 50%;  
}

#text {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.card:hover #text {
    opacity: 1;
    padding: 8px;
}

.card:hover img {
    opacity: 0.1;
    padding: 8px;
}

.card-img:hover {
    background-color: yellow;
}

.image {
    height: 205px;
    align-self: center;
    width: 100%;
     max-width: 305px;
   
    
}

#logo {
    float: left;
}

.card { 
    width: 355px;
    margin-bottom: 40px;

    
}
.display {
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 8px;
    max-width: 100%;;
    
}
/* .card-title {
    text-underline: none;
} */